{% extends 'app_general/components/base.html' %}

{% block site_title %} {{ food.title  }} {% endblock %}

{% block content %}

{% if food is not None %}
<div>
    <h3>{{ food.title  }}</h3>
    <p>{{ food.price |floatformat:'g' }} Bath</p>       
    {% if food.is_premium %}
        <p>*** premium menu</p>
    {% endif%}
    <p>promotion end at {{food.promotion_end_at |date:'j N Y'}}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quod vel beatae nobis, minus incidunt rerum aliquam enim accusantium veniam voluptas modi perferendis dolore nesciunt, voluptatem totam illo adipisci cupiditate.</p>
</div>
{% else %}

{% endif %}

{% endblock %}