{% extends 'app_general/components/base.html' %}

{% block site_title %} All menu  |  {% endblock %}

{% block content %}
<div>
    <h2>Junraider Banner</h2>
    {% for food in foods%}
        <div style="background-color: lightgreen;">
            <h3><a href="{% url 'food' food.id%}">
                {{ food.title  }}</a></h3>
            <p>{{ food.price |floatformat:'g' }} Bath</p>       
            {% if food.is_premium %}
                <p>*** premium menu</p>
            {% endif%}
            <p>promotion end at {{food.promotion_end_at |date:'j N Y'}}</p>
        </div>
    {% empty %}
        <p>No menu</p>
    {% endfor %}
</div>
{% endblock %}
