<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Junraider</title>
</head>
<body>
    <header style="background-color: lightblue">
        <a href="">Junraider</a>
        <a href="">All menu</a>
        <a href="">About</a>
    </header>
    <div>
        <h1>junraider</h1>
        <p>lorem ipsum dolor sit amet, consectet</p>
    </div>
    <footer style="background-color: lightblue">
        <h5>follow me and get promotions</h5>
        <p>
            <a href="">Facebook</a>
            <a href="">Twitter</a>
            <a href="">Instagram</a>
        </p>
        <p>Copyright ; 2014</p>
    </footer>
</body>
</html>